/* ----------------------------------*/
/* ---------->>> FONTS <<<-----------*/
/* ----------------------------------*/

@font-face {
    font-family: 'Novecentowide';
    src: url('novecentowide/Novecentowide-Bold-webfont.eot');
    src: url('novecentowide/Novecentowide-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('novecentowide/Novecentowide-Bold-webfont.woff') format('woff'),
         url('novecentowide/Novecentowide-Bold-webfont.ttf') format('truetype'),
         url('novecentowide/Novecentowide-Bold-webfont.svg#NovecentowideBold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Novecentowide';
    src: url('novecentowide/Novecentowide-DemiBold-webfont.eot');
    src: url('novecentowide/Novecentowide-DemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('novecentowide/Novecentowide-DemiBold-webfont.woff') format('woff'),
         url('novecentowide/Novecentowide-DemiBold-webfont.ttf') format('truetype'),
         url('novecentowide/Novecentowide-DemiBold-webfont.svg#NovecentowideDemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Novecentowide';
    src: url('novecentowide/Novecentowide-Medium-webfont.eot');
    src: url('novecentowide/Novecentowide-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('novecentowide/Novecentowide-Medium-webfont.woff') format('woff'),
         url('novecentowide/Novecentowide-Medium-webfont.ttf') format('truetype'),
         url('novecentowide/Novecentowide-Medium-webfont.svg#NovecentowideMedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Novecentowide';
    src: url('novecentowide/Novecentowide-Normal-webfont.eot');
    src: url('novecentowide/Novecentowide-Normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('novecentowide/Novecentowide-Normal-webfont.woff') format('woff'),
         url('novecentowide/Novecentowide-Normal-webfont.ttf') format('truetype'),
         url('novecentowide/Novecentowide-Normal-webfont.svg#NovecentowideNormal') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Novecentowide';
    src: url('novecentowide/Novecentowide-Book-webfont.eot');
    src: url('novecentowide/Novecentowide-Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('novecentowide/Novecentowide-Book-webfont.woff') format('woff'),
         url('novecentowide/Novecentowide-Book-webfont.ttf') format('truetype'),
         url('novecentowide/Novecentowide-Book-webfont.svg#NovecentowideBook') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Novecentowide';
    src: url('novecentowide/Novecentowide-Light-webfont.eot');
    src: url('novecentowide/Novecentowide-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('novecentowide/Novecentowide-Light-webfont.woff') format('woff'),
         url('novecentowide/Novecentowide-Light-webfont.ttf') format('truetype'),
         url('novecentowide/Novecentowide-Light-webfont.svg#NovecentowideLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
	font-family: WebSymbolsRegular;
	src: url(websymbols/websymbols-regular-webfont.eot);
	src: url(websymbols/websymbols-regular-webfont.eot?#iefix) format('embedded-opentype'),
	     url(websymbols/websymbols-regular-webfont.woff) format('woff'),
	     url(websymbols/websymbols-regular-webfont.ttf) format('truetype'),
	     url(websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular) format('svg');
}

.websymbols-icon {
	font-family: WebSymbolsRegular, sans-serif;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on June 26, 2012 01:07:43 PM America/New_York */
@font-face {
    font-family: ModernPictogramsNormal;
    src: url(modern-pictograms/modernpics-webfont.eot);
    src: url(modern-pictograms/modernpics-webfont.eot?#iefix) format('embedded-opentype'),
         url(modern-pictograms/modernpics-webfont.woff) format('woff'),
         url(modern-pictograms/modernpics-webfont.ttf) format('truetype'),
         url(modern-pictograms/modernpics-webfont.svg#ModernPictogramsNormal) format('svg');
    font-weight: normal;
    font-style: normal;
}

.modernpicrograms-icon-1:before { content: "A"; }
.modernpicrograms-icon-2:before { content: "B"; }
.modernpicrograms-icon-3:before { content: "C"; }
.modernpicrograms-icon-4:before { content: "D"; }
.modernpicrograms-icon-5:before { content: "E"; }
.modernpicrograms-icon-6:before { content: "F"; }
.modernpicrograms-icon-7:before { content: "G"; }
.modernpicrograms-icon-8:before { content: "H"; }
.modernpicrograms-icon-9:before { content: "I"; }
.modernpicrograms-icon-10:before { content: "J"; }
.modernpicrograms-icon-11:before { content: "K"; }
.modernpicrograms-icon-12:before { content: "L"; }
.modernpicrograms-icon-13:before { content: "M"; }
.modernpicrograms-icon-14:before { content: "N"; }
.modernpicrograms-icon-15:before { content: "O"; }
.modernpicrograms-icon-16:before { content: "P"; }
.modernpicrograms-icon-17:before { content: "Q"; }
.modernpicrograms-icon-18:before { content: "R"; }
.modernpicrograms-icon-19:before { content: "S"; }
.modernpicrograms-icon-20:before { content: "T"; }
.modernpicrograms-icon-21:before { content: "U"; }
.modernpicrograms-icon-22:before { content: "V"; }
.modernpicrograms-icon-23:before { content: "W"; }
.modernpicrograms-icon-24:before { content: "X"; }
.modernpicrograms-icon-25:before { content: "Y"; }
.modernpicrograms-icon-26:before { content: "Z"; }
.modernpicrograms-icon-27:before { content: "a"; }
.modernpicrograms-icon-28:before { content: "b"; }
.modernpicrograms-icon-29:before { content: "c"; }
.modernpicrograms-icon-30:before { content: "d"; }
.modernpicrograms-icon-31:before { content: "e"; }
.modernpicrograms-icon-32:before { content: "f"; }
.modernpicrograms-icon-33:before { content: "g"; }
.modernpicrograms-icon-34:before { content: "h"; }
.modernpicrograms-icon-35:before { content: "i"; }
.modernpicrograms-icon-36:before { content: "j"; }
.modernpicrograms-icon-37:before { content: "k"; }
.modernpicrograms-icon-38:before { content: "l"; }
.modernpicrograms-icon-39:before { content: "m"; }
.modernpicrograms-icon-40:before { content: "n"; }
.modernpicrograms-icon-41:before { content: "o"; }
.modernpicrograms-icon-42:before { content: "p"; }
.modernpicrograms-icon-43:before { content: "q"; }
.modernpicrograms-icon-44:before { content: "r"; }
.modernpicrograms-icon-45:before { content: "s"; }
.modernpicrograms-icon-46:before { content: "t"; }
.modernpicrograms-icon-47:before { content: "u"; }
.modernpicrograms-icon-48:before { content: "v"; }
.modernpicrograms-icon-49:before { content: "w"; }
.modernpicrograms-icon-50:before { content: "x"; }
.modernpicrograms-icon-51:before { content: "y"; }
.modernpicrograms-icon-52:before { content: "z"; }
.modernpicrograms-icon-53:before { content: "1"; }
.modernpicrograms-icon-54:before { content: "2"; }
.modernpicrograms-icon-55:before { content: "3"; }
.modernpicrograms-icon-56:before { content: "4"; }
.modernpicrograms-icon-57:before { content: "5"; }
.modernpicrograms-icon-58:before { content: "6"; }
.modernpicrograms-icon-59:before { content: "7"; }
.modernpicrograms-icon-60:before { content: "8"; }
.modernpicrograms-icon-61:before { content: "9"; }
.modernpicrograms-icon-62:before { content: "0"; }
.modernpicrograms-icon-63:before { content: "`"; }
.modernpicrograms-icon-64:before { content: "!"; }
.modernpicrograms-icon-65:before { content: "@"; }
.modernpicrograms-icon-66:before { content: "#"; }
.modernpicrograms-icon-67:before { content: "$"; }
.modernpicrograms-icon-68:before { content: "%"; }
.modernpicrograms-icon-69:before { content: "^"; }
.modernpicrograms-icon-70:before { content: ","; }
.modernpicrograms-icon-71:before { content: "*"; }
.modernpicrograms-icon-72:before { content: "("; }
.modernpicrograms-icon-73:before { content: ")"; }
.modernpicrograms-icon-74:before { content: "-"; }
.modernpicrograms-icon-75:before { content: "_"; }
.modernpicrograms-icon-76:before { content: "+"; }
.modernpicrograms-icon-77:before { content: "="; }
.modernpicrograms-icon-78:before { content: "["; }
.modernpicrograms-icon-79:before { content: "{"; }
.modernpicrograms-icon-80:before { content: "]"; }
.modernpicrograms-icon-81:before { content: "}"; }
.modernpicrograms-icon-82:before { content: "'"; }
.modernpicrograms-icon-83:before { content: "\""; }
.modernpicrograms-icon-84:before { content: ":"; }
.modernpicrograms-icon-85:before { content: ";"; }
.modernpicrograms-icon-86:before { content: "<"; }
.modernpicrograms-icon-87:before { content: ">"; }
.modernpicrograms-icon-88:before { content: "?"; }
.modernpicrograms-icon-89:before { content: "/"; }
